<!DOCTYPE html>
<!-- COLOCAR OS ACENTOS NAS PALAVRAS -->
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Música Boa - Criar Anuncio</title>
        <meta name=description content="">
        <meta name=viewport content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <!-- Bootstrap CSS -->
        <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css"
        rel="stylesheet" media="screen">

    </head>

    <body>
        <div class="span10"></div>
        <div class="container">
            <div class="container">
                <nav>
                    <ul class="nav nav-pills pull-right">
                        <li role="presentation" class="active"><a href="">Home</a></li>
                        <li role="presentation"><a href="criarAnuncio.scala.html">Criar Anuncio</a></li>
                    </ul>
                </nav>
                <h3 class="text-muted">Música Boa</h3>
            </div>

            <div class="container">
                <h3>Criar Anuncio</h3>
            </div>
            <div class="container">
                <div class="span9">
                    <form class="form-horizontal">
                        <h5>Descricao: </h5>
                        <input type="text" id="descricaoDoAnuncio" name="descricaoDoAnuncio" class="form-control" placeholder="Descrição do anuncio" value="">
                        <br>
                        <h5>Cidade: </h5>
                        <input type="text" id="cidadeDoAnunciante" name="cidadeDoAnunciante" class="form-control span5" placeholder="Cidade onde voce mora" value="">
                        <br>
                        <h5>Bairro: </h5>
                        <input type="text" id="bairroDoAnunciante" name="bairroDoAnunciante" class="form-control span5" placeholder="Bairro onde voce mora" value="">
                        <br>
                        <h5>Voce deseja tocar ocasionalmente:</h5>
                        <label class="radio-inline">
                            <input type="radio" name="opcaoDeTocarOcasionalmente" id="opcaoDeTocarOcasionalmente" value="SIM"> SIM
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="opcaoDeTocarOcasionalmente" id="opcaoDeTocarOcasionalmente" value="NÃO"> NÃO
                        </label>
                        <br>
                        <h5>Voce esta em procurando uma banda:</h5>
                        <label class="radio-inline">
                            <input type="radio" name="opcaoProcuraBanda" id="opcaoProcuraBanda" value="SIM"> SIM
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="opcaoProcuraBanda" id="opcaoProcuraBanda" value="NÃO"> NÃO
                        </label>
                    </form>
                </div>
            </div>
        </div>
        <div class="span10"></div>
    </body>
</html>