<!-- COLOCAR OS ACENTOS NAS PALAVRAS -->
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Música Boa</title>
        <meta name=description content="">
        <meta name=viewport content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <!-- Bootstrap CSS -->
        <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css"
            rel="stylesheet" media="screen">

    </head>

    <body>
        <div class="span10"></div>
        <div class="container">
            <div class="container">
                <nav>
                    <ul class="nav nav-pills pull-right">
                        <li role="presentation" class="active"><a href="">Home</a></li>
                        <li role="presentation"><a href="criarAnuncio.scala.html">Criar Anuncio</a></li>
                    </ul>
                </nav>
                <h3 class="text-muted">Música Boa</h3>
            </div>

            <div class="container">
                <p>Lista de anuncios</p>
            </div>
        </div>
        <div class="span10"></div>
    </body>
</html>