<!DOCTYPE html>
<html>
    <head lang="pt-BR">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Música Boa - Página Inicial</title>
        <meta name="description" content="">
        <link rel="stylesheet" type="text/css" href=@routes.Assets.at("stylesheets/bootstrap.css")>
        <link rel="stylesheet" type="text/css" href=@routes.Assets.at("stylesheets/bootstrap.min.css")>
        <script src=@routes.Assets.at("javascripts/jquery.js")></script>
        <link rel="shortcut icon" href=@routes.Assets.at("images/imagem1.jpg") type="image/jpg">
    </head>

    <body>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="hidden-md navbar navbar-default navbar-fixed-top navbar-inverse">
                            <div class="container">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <a class="navbar-brand" href="index.escala.html">Música Boa</a>
                                </div>
                                <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                                    <ul class="nav navbar-nav navbar-right">
                                        <li class="active" id="home">
                                            <a href=@routes.Application.index()>Página Inicial</a>
                                        </li>
                                        <li id="buttonCriarAnuncio">
                                            <a href=@routes.Application.criarAnuncio()>Criar Anúncio<br></a>
                                        </li>
                                        <li id="buttonListaAnuncio">
                                            <a href=@routes.Application.listaDeAnuncios()>Lista de Anúncios<br></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
            </div>
        </div>
        <div id="slides" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="slides" data-slide-to="0" class="active"></li>
                <li data-target="slides" data-slide-to="1"></li>
            </ol>

                <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src=@routes.Assets.at("images/imagem5.jpg")>
                    <div class="carousel-caption">

                        <div class="carousel-caption">
                            <h1 class="text-center text-inverse">Crie seu anúncio</h1>
                            <h3 class="text-primary well well-small">Crie seu anúncio e tente encrontrar uma banda para tocar.</h3>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <img src=@routes.Assets.at("images/imagem4.JPG")>
                    <div class="carousel-caption">

                        <div class="carousel-caption">
                            <h1 class="text-inverse">Busca por parceiros músicais</h1>
                            <h3 class="text-primary well well-small">Na lista de anúncios você poderá buscar por parceiros músicais para formar
                                sua banda.</h3>
                        </div>
                    </div>
                </div>
            </div>

                <!-- Left and right controls -->
            <a class="left carousel-control" href="#slides" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#slides" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </body>

</html>