<!DOCTYPE html>
<html>
    <head lang="pt-BR">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Música Boa - Página Inicial</title>
        <meta name="description" content="">
        <link rel="stylesheet" type="text/css" href=@routes.Assets.at("stylesheets/bootstrap.css")>
        <link rel="stylesheet" type="text/css" href=@routes.Assets.at("stylesheets/bootstrap.min.css")>
        <script src=@routes.Assets.at("javascripts/jquery.js")></script>
        <link rel="shortcut icon" href=@routes.Assets.at("images/imagem1.jpg") type="image/jpg">
        <!-- Script to Activate the Carousel -->
		<script type="text/javascript">
    		$('.carousel').carousel({
        		interval: 5000 //changes the speed
    		})
    	</script>

    </head>

    <body>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="hidden-md navbar navbar-default navbar-fixed-top navbar-inverse">
                            <div class="container">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <a style="font-size: x-large" class="navbar-brand" href=@routes.Application.index()>Música Boa</a>
                                </div>
                                <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                                    <ul class="nav navbar-nav navbar-right" style="font-size: large">
                                        <li>
                                            <a href=@routes.Application.index()>Página Inicial</a>
                                        </li>
                                        <li>
                                            <a href=@routes.Application.criarAnuncio()>Criar Anúncio<br></a>
                                        </li>
                                        <li>
                                            <a href=@routes.Application.listaDeAnuncios()>Lista de Anúncios<br></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
            </div>
        </div>

        <div class="col-lg-15 text-center">
            <div id="carousel-example-generic" class="carousel slide">
                    <!-- Indicators -->
                <ol class="carousel-indicators hidden-xs">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                </ol>

                    <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <h3 class="brand-before">
                            <big>Bem vindo ao Música Boa</big>
                        </h3>
                        <img src=@routes.Assets.at("images/imagem5.jpg") alt="">
                        <div class="carousel-caption">
                            <div class="carousel-caption">
                                <h1 class="text-center text-inverse">Crie seu anúncio</h1>
                                <h3 class="text-primary well well-small">Crie seu anúncio e tente encrontrar uma banda para tocar.</h3>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src=@routes.Assets.at("images/imagem4.JPG") alt="">
                        <div class="carousel-caption">
                            <div class="carousel-caption">
                                <h1 class="text-inverse">Busca por parceiros músicais</h1>
                                <h3 class="text-primary well well-small">Na lista de anúncios você poderá buscar por parceiros músicais para formar
                                    sua banda.</h3>
                            </div>
                        </div>
                    </div>

                </div>

                    <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="icon-prev"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="icon-next"></span>
                </a>
            </div>
            <h5>
                <small>By
                    <strong>Páblo Victor</strong>
                </small>
            </h5>
        </div>


    </body>

</html>