@import models.entity.Anuncio
@(anuncios: List[Anuncio])

<!DOCTYPE html>

<html>

<head lang="pt-BR">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Música Boa - Lista de Anúncios</title>
    <meta name="description" content="">

    <link rel="stylesheet" type="text/css" href=@routes.Assets.at("stylesheets/bootstrap.css")>
    <link rel="stylesheet" type="text/css" href=@routes.Assets.at("stylesheets/bootstrap.min.css")>
    <script src=@routes.Assets.at("javascripts/jquery.js")></script>
    <link rel="shortcut icon" href=@routes.Assets.at("images/imagem1.jpg") type="image/jpg">

    <style type="text/css">
        table {
            width:760px;
            _width:760px;
        }
        #celula2 {
            width: 720px;
            padding:10px;
            _width: 495px;
        }
        #celula3{
            width: 150px;
            padding: 10px;
            _width: 255px;
        }
    </style>

</head>

<body background=@routes.Assets.at("images/imagem2.jpg")>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="hidden-md navbar navbar-default navbar-fixed-top navbar-inverse">
                        <div class="container">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href=@routes.Application.index()>"Música Boa"</a>
                            </div>
                            <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                                <ul class="nav navbar-nav navbar-right">
                                    <li>
                                        <a href=@routes.Application.index()>Página Inicial</a>
                                    </li>
                                    <li>
                                        <a href=@routes.Application.criarAnuncio()>Criar Anúncio</a>
                                    </li>
                                    <li>
                                        <a href=@routes.Application.listaDeAnuncios()>Lista de Anúncios</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="well">
                        <h2 contenteditable="true" class="text-center">Lista de Anúncios</h2>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 well">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <div class="col-md-18">
                                            <div class="col-md-10">
                                                <input type="text" class="form-control input-lg" id="inputPesquisa"
                                                 name="textoDaPesquisa">
                                            </div>
                                            <button type="submit" href="" class="btn btn-lg btn-primary">Pesquisar</button>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label">Pesquisar por:</label>
                                    </div>
                                    <div class="form-group">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" value="estilo" name="pesquisaPorEstilo">Estilo da música</label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" value="palavraChave" name="pesquisaPalavraChave">Palavra-chave</label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" value="instrumentos" name="pesquisaPorInstrumento">Instrumento</label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" value="Torcar Ocasionalmente" name="pesquisaTocarOcasionalmente">Tocar ocasionalmente</label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" value="Formar uma banda" name="pesquisaPorFormarBanda">Formar banda</label>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped">
                        <tbody>
                            @for(anuncio <- anuncios){
                                <tr>
                                    <td class="active" id="celula2" value=@anuncio.getId()>
                                        <h4>Titulo: @anuncio.getTitulo</h4>
                                        <p>Descrição: @anuncio.getDescricao</p>
                                    </td>
                                    <td class="active" id="celula3">
                                        <button class="btn btn-block btn-primary" href="@routes.Application.verAnuncio(anuncio.getId)" type="submit" name="verAnuncio" >Ver anúncio completo</button>
                                    </td>
                                </tr>
                            }
                        <tr></tr>
                        <tr></tr>
                        </tbody>
                        <thead>
                        <tr>
                            <th class="active">Anúncio</th>
                            <th class="active">Opções</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

</html>